body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/575/803/original/gray-and-white-color-curve-abstract-vector-background-with-copy-space-modern-design.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 100px;
    background-attachment: fixed;
    background-size: 1700px;
}